<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">Billing
                    Address</span>
            </h5>
            <form [formGroup]="checkoutform" class="checkout" method="post" name="checkout"  (ngSubmit)="onCheckOut(checkoutform)">
                <div class="bg-light p-30 mb-5">
                    <div class="row" formGroupName="checkoutInfo">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="John" formControlName="firstName">
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.firstName').valid && checkoutform.get('checkoutInfo.firstName').touched"
                                class="help-block">
                                *Please enter First Name*
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe" formControlName="lastName">
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.lastName').valid && checkoutform.get('checkoutInfo.lastName').touched"
                                class="help-block">
                                *Please enter Last Name*
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com"
                                formControlName="email">
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.email').valid && checkoutform.get('checkoutInfo.email').touched"
                                class="help-block">
                                *Please enter E-mail*
                            </span>
                        </div>
                        <!-- <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789"
                                formControlName="mobileNo">
                                <span
                                *ngIf="!checkoutform.get('checkoutInfo.mobileNo').valid && checkoutform.get('checkoutInfo.mobileNo').touched"
                                class="help-block">
                                *Please enter Mobile number*
                            </span>
                        </div> -->
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street" formControlName="address1">
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.address1').valid && checkoutform.get('checkoutInfo.address1').touched"
                                class="help-block">
                                *Please enter your address*
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="123 Street" formControlName="address2">
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.address2').valid && checkoutform.get('checkoutInfo.address2').touched"
                                class="help-block">
                                *Please enter your address*
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select" formControlName="country">
                                <option selected>IN</option>
                                <option>DJ</option>
                                <option>US</option>
                                <option>PL</option>
                            </select>
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.country').valid && checkoutform.get('checkoutInfo.country').touched"
                                class="help-block">
                                *Please select your country*
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country Area</label>
                            <select class="custom-select" formControlName="countryArea">
                                <option selected>CA</option>
                                <option>MI</option>
                                <option>AZ</option>
                            </select>
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.countryArea').valid && checkoutform.get('checkoutInfo.countryArea').touched"
                                class="help-block">
                                *Please select your country area*
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <select class="custom-select" formControlName="city">
                                <option selected>Wroclaw</option>
                                <option>Lanser</option>
                                <option>Phoenix</option>
                            </select>
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.city').valid && checkoutform.get('checkoutInfo.city').touched"
                                class="help-block">
                                *Please select your city*
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <select class="custom-select" formControlName="state">
                                <option selected>Dolnyslask</option>
                                <option>Michigan</option>
                                <option>Arizona</option>
                            </select>
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.state').valid && checkoutform.get('checkoutInfo.state').touched"
                                class="help-block">
                                *Please enter your state*
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="123" formControlName="zipCode">
                            <span
                                *ngIf="!checkoutform.get('checkoutInfo.zipCode').valid && checkoutform.get('checkoutInfo.zipCode').touched"
                                class="help-block">
                                *Please enter your zip code*
                            </span>
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto" (change)="showDiv()">
                                <label class="custom-control-label" for="shipto" data-toggle="collapse"
                                    data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- <div *ngIf="show">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping
                        Address</span></h5>
                <form [formGroup]="checkoutform" class="checkout" method="post" name="checkout" (ngSubmit)="onCheckOut(checkoutform)">
                    <div class="bg-light p-30 mb-5">
                        <div class="row" formGroupName="checkoutInfo">
                            <div class="col-md-6 form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" placeholder="John" formControlName="firstName">
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.firstName').valid && checkoutform.get('checkoutInfo.firstName').touched"
                                    class="help-block">
                                    *Please enter First Name*
                                </span>
                               
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" placeholder="Doe" formControlName="lastName">
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.lastName').valid && checkoutform.get('checkoutInfo.lastName').touched"
                                    class="help-block">
                                    *Please enter Last Name*
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com"
                                    formControlName="email">
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.email').valid && checkoutform.get('checkoutInfo.email').touched"
                                    class="help-block">
                                    *Please enter E-mail*
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="+123 456 789"
                                    formControlName="mobileNo">
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.mobileNo').valid && checkoutform.get('checkoutInfo.mobileNo').touched"
                                    class="help-block">
                                    *Please enter Mobile number*
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 1</label>
                                <input class="form-control" type="text" placeholder="123 Street"
                                    formControlName="address1">
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.address1').valid && checkoutform.get('checkoutInfo.address1').touched"
                                    class="help-block">
                                    *Please enter your address*
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 2</label>
                                <input class="form-control" type="text" placeholder="123 Street"
                                    formControlName="address2">
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.address2').valid && checkoutform.get('checkoutInfo.address2').touched"
                                    class="help-block">
                                    *Please enter your address*
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Country</label>
                                <select class="custom-select" formControlName="country">
                                    <option selected>United States</option>
                                    <option>Afghanistan</option>
                                    <option>Albania</option>
                                    <option>Algeria</option>
                                </select>
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.country').valid && checkoutform.get('checkoutInfo.country').touched"
                                    class="help-block">
                                    *Please select your country*
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <input class="form-control" type="text" placeholder="New York" formControlName="city">
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.city').valid && checkoutform.get('checkoutInfo.city').touched"
                                    class="help-block">
                                    *Please enter your city*
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>State</label>
                                <input class="form-control" type="text" placeholder="New York" formControlName="state">
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.state').valid && checkoutform.get('checkoutInfo.state').touched"
                                    class="help-block">
                                    *Please enter your state*
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>ZIP Code</label>
                                <input class="form-control" type="text" placeholder="123" formControlName="zipCode">
                                <span
                                    *ngIf="!checkoutform.get('checkoutInfo.zipCode').valid && checkoutform.get('checkoutInfo.zipCode').touched"
                                    class="help-block">
                                    *Please enter your zip code*
                                </span>
                            </div>

                        </div>
                    </div>
                </form>
            </div> -->
        </div>

        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order
                    Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>{{Total | currency}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$00</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>{{Total | currency}}</h5>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span
                        class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30" > 
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio"  class="custom-control-input" name="payment" id="directcheck" >
                            <label class="custom-control-label" for="directcheck">Cash on Delivery</label>
                        </div>
                    </div>
                   
                    <!-- <button class="btn btn-block btn-primary font-weight-bold py-3" (click)="onCheckOut(checkoutform)"  [disabled]="!checkoutform.valid">Place Order</button> -->
                    <button class="btn btn-block btn-primary font-weight-bold py-3" (click)="onCheckOut(checkoutform)">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->