<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">

            <div class="btn d-flex align-items-center justify-content-between bg-primary w-200" data-toggle="collapse"
                dropdown>
                <button id="button-basic" dropdownToggle type="button"
                    class="btn d-flex align-items-center justify-content-between bg-primary w-170"
                    data-toggle="collapse" href="#navbar-vertical"
                    style="height: 63px; padding: -1px 78px; font-size: 30px; color: black;"
                    aria-controls="dropdown-basic">
                    Categories <i class="fa fa-angle-down mt-1"></i>
                </button>

                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu " role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <a class="dropdown-item">Dresses</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Shirts</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Jeans</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Swimwear</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Sleepwear</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Sportswaer</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Jumpsuits</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Blazer</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Jackets</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">Shoes</a>
                    </li>

                </ul>
            </div>

        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <!-- <a routerLinkActive="active" routerLink="/auth" class="nav-item nav-link ">Authenticate</a> -->
                        <a routerLinkActive="active" routerLink="/home" class="nav-item nav-link ">Home</a>
                        <a routerLinkActive="active" routerLink="/shop" class="nav-item nav-link" *ngIf="isAuthenticated">Shop</a>
                        <a routerLinkActive="active" routerLink="/shop-detail" class="nav-item nav-link" *ngIf="isAuthenticated">Shop Detail</a>


                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">

                                <div class="btn-group" dropdown *ngIf="isAuthenticated">
                                    <a id="button-basic" 
                                        dropdownToggle type="button" 
                                        aria-controls="dropdown-basic"> 
                                        Pages
                                    </a>
                                      
                                    <ul id="dropdown-basic" 
                                        *dropdownMenu class="dropdown-menu" 
                                        role="menu" aria-labelledby="button-basic" style="background-color: rgb(70, 68, 68);">
                                        <li role="menuitem">
                                            <a style="cursor: pointer;" routerLink="/shopping-cart">Shopping-cart</a>
                                        </li>
                                        <li role="menuitem">
                                            <a style="cursor: pointer;" routerLink="/checkout">Checkout</a>
                                        </li>
                                    </ul>
                                </div>

                            </a>
                        </div>
                        <a routerLink="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                        <a href="" class="btn px-0" *ngIf="isAuthenticated">
                            <i class="fa fa-heart" aria-hidden="true" style="color: white;font-size: 25px;"></i>&nbsp;
                            <span class="badge text-secondary border border-secondary rounded-circle"
                                style="padding-bottom: 2px;"></span>
                        </a>
                        <a routerLink="/shopping-cart" class="btn px-0 ml-3" *ngIf="isAuthenticated">
                            <i class="fa fa-shopping-cart" style="color: white; font-size: 25px;"></i>&nbsp;
                            <span class="badge text-secondary border border-secondary rounded-circle"
                                style="padding-bottom: 2px;">{{cartItem}}</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>